html {
	scroll-behavior: smooth;
	
}
body {
	font-size: 1rem;
	font-family: "Roboto", sans-serif;
	background-color:#f5fafa;
	
	
}

a {
	color: white;
	text-decoration: none;
}

header {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color:rgba(32,32,32);
	color: white;
	justify-content: flex-start;
	align-items: center;
	height: 6rem;
	z-index:4;
	position:relative;
	margin-top:-1rem;
}

#logo {
	width: 20vw;
	margin-left: 4vw;
}

#logo-header {
	margin-left: 15vw;
}

.header-end {
	margin-left: 45vw;
	display: none;
	flex-direction: row;
	justify-content: space-evenly;
	width: 40vw;
	margin-top: -3vh;
}

#projects-link:hover {
	color: orange;
	text-decoration: line-through;
}
#projects-link {
	transition: all 0.5s ease-in-out;
}

#about-link {
	cursor: pointer;
}

#about-link:hover {
	color: orange;
	text-decoration: line-through;
}

.contacting {
	position: relative;
	top: 0vh;
}

.contacting:hover .contact_us {
	color: orange;
	text-decoration: line-through;
}

.contacting:hover .phone-email {
	display: block;
}

.phone-email {
	background-color: darkslategrey;
	width: 10vw;
	padding-left: 0.5vw;
	position: absolute;
	display: none;
	cursor: pointer;
	border-bottom-left-radius: 5%;
	border-bottom-right-radius: 5%;
	top: 6vh;
	z-index: 1;
}

.phone-email p:hover {
	background-color: orange;
}

.contact_us {
	cursor: pointer;
}

.menu-drop {
	margin-left: 50vw;
	font-size: 1.5rem;
	cursor: pointer;
	display: block;
}



.mobile-slide {
	background-color:rgb(32,32,32);
	position:relative;
	z-index:1;
	left:0rem;
	height:10rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: white;
	width:100%;
	align-items: center;
	top:-10rem;
	margin-bottom:-10rem;
}





.mobile-links:hover {
	cursor: pointer;
}

.intro-image {
	width:100%;
	display: block;
	position: relative;
	background: url("images/brick-wall3.jpg");
	position:relative;
	height: 10rem;

}



.intro-image p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width:100%;
	color: white;
	font-size: 1.5rem;
	margin: auto;
	height:10rem;
	background-color:rgba(0,0,0,0.5);
}

#intro-text1 {
	width: 95%;
	margin: auto;
}


.help-popup {
	border-radius: 10px;
	background-color: darkorange;
	color: white;
	width: 11rem;
	position:fixed;
	top: 60vh;
	left:3rem;
	text-align: center;
	cursor: pointer;
	z-index: 1;
	height:5rem;
	transition: all 0.3s ease-in-out;
	transform: scale(0);
}

.help-popup:hover {
	background-color:rgb(32,32,32);
}

.help-input {
	width: 19rem;
	height:2rem;
	border: 0.5px solid gray;
	text-indent: 10px;
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
}

#send-message-block {
	position: relative;
	width: 100%;
	text-align: center;
	
}
#send-message-text {
	font-size:2rem;
	font-weight: bold;
}

#input-name {
	margin-top:-4rem;
}

.form-block {
	position:relative;
	width:20rem;
	left:;
	top: 2rem;
	height:auto;
	margin-left:0rem;
	height: auto;
	display:block;
	margin: auto;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 0vw 1rem 0vw;
}

#message-input {
	height:10rem;
}

#popup-cancel {
	position:relative;
	left:4rem;
	top:-1.5rem;
	cursor: pointer;
	font-size: 1.5rem;
	color: black;
	z-index: 1;
	color: white;
}


#pop-up-text {
	position: relative;
	top:-3rem;
}

#popup-cancel:hover {
	transform: scale(1.2);
}



#form-submit {
	transition: all 0.5s ease-in-out;
	border: none;
	background-color: rgb(32,32,32);
	color:white;
	padding: 0.5rem 1rem 0.5rem 1rem;
}

#form-submit:hover {
	background-color: darkorange;
}





.clipart img {
	width: 8vw;
}

.clipart {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 5vh;
}

.description1 {
	text-align: center;
	width: 90vw;
	margin: auto;
	font-size: 1.5rem;
}

.projects {
	position: relative;
	background-color: rgba(32,32,32,0.9);
	color: white;
	padding:0.5rem 0rem 2rem 0rem;
}

#projects-heading {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	position: relative;
	top: -1rem;
}

#projects-description {
	text-align: center;
	width: 90%;
	margin: auto;
	font-size: 1rem;
	position: relative;
	top:-2rem;
}

.projects-img1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
}

#proj-img {
	width: 80vw;
	height: 30vh;
}



.arrows {
	color:white;
	font-size: 3rem;
	cursor: pointer;
}
#desktop-projects {
	display: none;
}

#we-do-heading {
	font-size: 1.5rem;
	margin-bottom: -5vh;
	color: orange;
}
.services {
	
}

#services-heading {
	font-size: 2rem;
	font-weight: bold;
}

.services p {
	text-align: center;
}

.service-icons img {
	width: 8vw;
}

.icon-title {
	font-weight: bold;
	color: orange;
}

.service-icons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.service-icons p {
	width: 30vw;
}

.service-block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: auto;

}

.about-us-mobile {
	display: block;
	flex-direction: column;
	text-align: center;
	width: 100%;
	background-color: rgba(32,32,32,0.9);
	color: white;
	padding-top:1rem;
	padding-bottom:1rem;
	justify-content: flex-start;
	
}

#about-mobile-describe {
	width: 90vw;
	margin: auto;
	position: relative;
	top:-2.5rem;
}

#about-mobile-title {
	font-size: 2rem;
	font-weight: bold;
	position: relative;
	top: -1.5rem;
}

.about-desktop {
	display: none;
}

.footer-items {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

.footer-headings {
	font-size: 2rem;
	font-weight: bold;
}

.social-media {
	display: flex;
	flex-direction: column;
	text-align: center;
}

footer {
	position: relative;
	background-color:rgb(32,32,32);
	width: 100%;
	height: auto;
	top:3rem;
	color: white;
}

.social-icon {
	width: 7vw;
}

.copyright {
	display: flex;
	margin: auto;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	margin-top: 10vh;
	font-size: 0.8rem;
}



@media(min-width: 480.02px) and (max-width:767.98px) {
	header {
		height: 6rem;
	}
	.menu-drop {
		margin-left: 60vw;
	}
	.form-block {
		width:30rem;
	}
	.help-input {
		width:28rem;
	}


	.intro-image {
		height: 10rem;
	}

	#proj-img {
		width: 30rem;
		height: 20rem;
	}

	#we-do-heading {
		margin-bottom: -2rem;
	}

	
}

@media (min-width:768px) {
	header {
		height: 6rem;
	}

	.intro-image {
		height: 10em;
	}

	#logo {
		width: 10vw;
	}

	.menu-drop {
		margin-left: 70vw;
	}

	.form-block {
		width:40rem;
	}
	.help-input {
		width:38rem;
	}

	#proj-img {
		width: 35rem;
		height: 25rem;
	}

	#we-do-heading {
		margin-bottom: -2rem;
	}

	.footer-items {
		flex-direction: row;
		justify-content: space-around;
		text-align: center;
	}

}

@media(min-width:1024px) {
	header {
		height: 6rem;
	}

	#logo {
		width: 10vw;
	}

	.menu-drop {
		display: none;
	}

	.header-end {
		display: flex;
		margin-top: 5px;
	}

	.intro-image {
	}

	.clipart {
		background-color:#f5fafa;
		padding-top: 2rem;
		margin-top: -1rem;
	}

	.clipart img {
		width:2rem;
	}

	.intro-image p {
	}

	.description1 p {
		width: 60vw;
		margin: auto;
		padding-top: 1rem;
		padding-bottom: 2rem;
	}

	.description1 {
		width: 100%;
		background-color:#f5fafa;
	}
	.projects {
		display: none;
	}
	
	
	#proj-desktop-container {
		width: 100%;
		margin-bottom: 2rem;
	}
	#proj-desk-heading {
		font-size: 2rem;
		text-align: center;
		font-weight: bold;
	}
	#proj-desk-description {
		text-align: center;
		width: 60%;
		margin: auto;
		margin-top: -1rem;
	}
	
	
	

	
	
	
	#desktop-projects {
		display: block;
		width: 98%;
		display: grid;
		grid-template-columns:32% 34% 32%;
		grid-template-rows:repeat(8,300px);
		grid-column-gap:4px;
		grid-row-gap: 4px;
		height: auto;
		border: 1px solid red;
		margin: auto;
	}
	
	
	#desktop-projects img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		
	}
	
	
	
	#desk-img1 {
		border: 1px solid;
		
	
	}
	#desk-img9 {
		grid-area: 2/1/3/3;
		width: auto;
	}
	#desk-img5 {
		grid-area: 1/3/3/4;
	}
	#desk-img8 {
		grid-area: 3/1/5/2;
	}
	#desk-img17 {
		grid-area: 5/2/6/4;	
	}
	#desk-img16 {
		grid-area: 6/2/8/3;	
	}
	#desk-img18 {
		grid-area: 6/3/8/4;	
	}

	#we-do-heading {
		font-size: 1.5rem;
		margin-bottom: -3vh;
		color: orange;
	}

	.services {
		background-color: rgba(128, 128, 128, 0.1);
		margin-top: 2rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
		width: 98%;
		margin: auto;

	}

	.service-icons {
		display: flex;
		flex-direction: row;
		border: 1px solid darkorange;
		margin-top:1rem;
		border-radius: 10px;
	}

	.service-icons img {
		width: 4vw;
	}

	.about-us-mobile {
		display: none;
	}

	.about-left-desktop {
		display: flex;
		flex-direction: column;

	}

	.about-desktop img {
		width: 40vw;
	}

	#about-desktop-title {
		font-size: 2rem;
		font-weight: bold;
		margin: auto;
	}

	.about-desktop {
		display: flex;
		flex-direction: row;
		width: 90vw;
		margin: auto;
		height: auto;
		justify-content: space-around;
		margin-top: 2rem;
	}

	#about-desktop-describe {
		width: 40vw;
	}


	.footer-items {
		flex-direction: row;
		justify-content: space-around;
		text-align: center;
	}

	.social-icon {
		width: 4vw;
	}

}
